

body {

  font-family: sans-serif;
  background-image: url("https://i.imgur.com/9J9WLTE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;



}

.signForm{
  background-color: #bda8a8e6;
  padding: 4em;

}
.h1, h1 {
    font-size: 2.5rem;
    color: white;
}

.h2, h2 {
  font-size: 2.5rem;
  color: white;
}

.alert{
  color: white;
  background-color: red;
}

.pantryCard{
  display: flex;
  background-color: #bda8a8e6;
}

.title{
  font: white;
}

.whip{
  background-color: #bda8a8e6;
  padding: 8em;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

 .inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

 .outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: white;
}

.custom-control-label {
  font-weight: 700;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.pantryCard{
  display: flex;
  padding:

}

.addnew{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: space-around;
  justify-content: space-around;
  background-color: #bda8a8e6;
  padding: 4em;
}


auth-wrapper{
  background-color: white
}
div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}


.navbar-light {
background-color: #dbc4c4;
box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
font-size: x-large;
}
